body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-content {
  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px  rgba(0, 1, 1, 0.2);
          box-shadow: 0 0 20px  rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

.main-navigation {
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  left: calc(50% - 69px);
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  margin-left: 72px;
  margin-right: 72px;
  padding: 0;

  font-weight: bold;
  line-height: 26px;

  list-style: none;
  color: #000000;
}

.site-navigation li {
  width: 240px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li:nth-child(n),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

.intro-photo {
  width: 1200px;
  min-height: 510px;

  background-color: #5780a8;
  background-image: url("../img/background-index.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.features {
  background-color: #ffffff;
}

.layout-block {
  padding-top: 59px;
  padding-bottom: 51px;
}

.layout-block > p:first-of-type {
  margin: 0;
  padding-bottom: 27px;
  padding-left: 378px;
  padding-right: 380px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.layout-block > p:nth-of-type(2) {
  margin: 0;

  line-height: 26px;
  text-align: center;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features-block {
  text-align: center;
}

.features-layout h3,
.features-block h3 {
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-left: 124px;
  padding-right: 125px;
  padding-bottom: 24px;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.features-layout {
  width: 400px;
  padding-bottom: 55px;
}

.features-layout > p {
  margin: 0;
  padding: 0;
  padding-left: 46px;
  padding-right: 46px;
}

.features-layout > p:first-of-type {
  padding-bottom: 21px;
}

.features-block.colored {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;

  color: #ffffff;

  background-color: #81b3d2;
}

.features-block.other {
  padding-bottom: 59px;

  background-color: #eeeeee;
}

.features-block.other > p {
  margin: 0;
  padding-left: 65px;
  padding-right: 65px;
}

.features-block.other:nth-of-type(5) > p {
  padding-left: 72px;
  padding-right: 72px;
}

.features-block.other > p:first-of-type {
  padding-bottom: 21px;
}

.recommendations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;

  color:#333333;
  list-style: none;

  background-color: #ffffff;
}

.recommendations-list li {
  width: 400px;
}

.recommendations-item {
  padding-bottom: 82px;
}

.recommendations-item h4 {
  position: relative;

  margin: 0;
  padding-top: 161px;
  padding-bottom: 24px;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.recommendations-item h4::before {
  content: "";
  position: absolute;
  bottom: 74px;
  left: 50%;

  width: 76px;
  height: 77px;
  margin-left: -38px;

  background-color: #ffffff;
}

.recommendations-item .home::before {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 5px;
}

.recommendations-item .food::before {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 1px 6px;
}
.recommendations-item .souvenirs::before {
  bottom: 73px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 6px 0;
}

.recommendations-item p {
  margin: 0;
  padding: 0;
  padding-left: 55px;
  padding-right: 55px;

  font-size: 14px;
  line-height: 21px;
}

.features-layout.backwards {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.features-block.other {
  width: 400px;
}

.search {
  position: relative;

  padding-top: 50px;
}

.search p:first-of-type {
  margin: 0;
  padding-bottom: 24px;

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}

.search p:nth-of-type(2) {
  margin: 0;
  padding-bottom: 47px;

  line-height: 24px;
  text-align: center;
}

.button {
  display: block;

  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;

  border: none;
  background-color: #766357;
}

.open-button {
  position: relative;
  z-index: 4;

  width: 568px;
  min-height: 26px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
}

.search iframe {
  position: relative;
  z-index: 2;
}

.map {
  position: absolute;
  top: 292px;
  left: 0;
  z-index: 1;
}

.open-button:focus,
.open-button:hover {
  background-color: #604e43;
}

.open-button:active {
  color: #918984;

  background-color: #503e33;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  position: relative;
  z-index: 3;
  margin-top: -126px;

  background-color: rgba(255, 255, 255, 0.7);
}

.main-footer > p {
  margin: 0;
}

.footer-tag {
  width: 400px;
  padding: 46px 0;
  padding-bottom: 48px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.7);
}

.social-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 400px;

  background-color: rgba(255, 255, 255, 0.7);
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 150px;
  margin: 0;
  padding: 0;
  padding-top: 1px;

  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 46px;
  min-height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 400px;
  padding-top: 7px;

  background-color: rgba(255, 255, 255, 0.7);
}

.footer-copyright b {
  margin-right: 8px;
  padding-bottom: 5px;

  font-weight: normal;
  text-align: right;
}

.copyright-link:hover path,
.copyright-link:hover rect,
.copyright-link:focus path,
.copyright-link:focus rect {
  fill: #81b3d2;
}

.copyright-link:active path,
.copyright-link:active rect {
  fill: #bdbbbc;
}

.modal-search {
  display: none;
  position: absolute;
  top: 2169px;
  left: 50%;
  z-index: 3;

  width: 568px;
  padding: 55px;
  padding-top: 56px;
  margin-left: -284px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: bold;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

@keyframes appear {
  0%    { transform: translateY(-86px); }
  100%  { transform: translateY(0); }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.modal-show {
  display: block;

  animation-name: appear;
  animation-duration: 0.6s;

  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.25);
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.25);
}

.modal-error {
  animation-name: shake;
  animation-duration: 0,6s;
}


.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  position: relative;

  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.search-block:nth-of-type(2) {
  margin-bottom: 31px;
}

.search-block label {
  width: 95px;
  margin-right: 17px;
}

.search-block input {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  padding-right: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #f2f2f2;
  border: none;
}

.search-block input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.calendar-icon {
  position: absolute;
  right: 9px;
  bottom: 8px;
  width: 21px;
  height: 22px;
}

.calendar-icon:hover path,
.calendar-icon:focus path {
  fill: #000000;
}

.calendar-icon:active path {
  fill: #81b3d2;
}

.search-column-1,
.search-column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin: 0;
  margin-bottom: 53px;
  padding: 0;
}

.search-column-1 {
  width: 228px;
  margin-right: auto;
}

.search-column-2 {
  width: 179px;
  margin-left: auto;
}

.search-form input[type="number"] {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 0;

  width: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #f2f2f2;
  border: none;
}

.add-button,
.subtract-button {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;

  width: 37px;

  background-color: #f2f2f2;
  border: none;
}

.add-button:hover line,
.subtract-button:hover line,
.add-button:focus line,
.subtract-button:focus line {
  stroke: #000000;
}

.add-button:active line,
.subtract-button:active line {
  stroke: #81b3d2;
}

.search-column-1 label {
  width: 73px;
  margin-right: 39px;
}

.search-column-2 label {
  width: 40px;
  margin-right: 28px;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form input[placeholder] {
  text-transform: uppercase;
  font-weight: bold;
}

.search-form input::-moz-placeholder {
  color: #000000;
}

.search-form input::-webkit-input-placeholder {
  color: #000000;
}

.modal-button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;

  font-weight: bold;
  text-transform: uppercase;

  background-color: #81b3d2;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #669ec0;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #5496bd;
}


/* Оформление страницы каталога */

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #766357;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding-top: 27px;
  padding-left: 71px;
  padding-right: 73px;
  padding-bottom: 31px;

  color: #ffffff;

  background-color: #5c87b0;
  background-image: url("../img/background-hotels.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter fieldset {
  width: 240px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter fieldset:nth-of-type(2) {
  padding-left: 15px;
}

.filter-column {
  width: 318px;
  margin-left: auto;
}

.filter legend {
  padding-bottom: 25px;
  padding-left: 2px;

  font-size: 16px;
  font-weight: bold;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-option {
  position: relative;

  padding-bottom: 25px;
  padding-left: 40px;

  text-align: left;
}

.filter-option:last-child {
  padding-bottom: 0;
}

.filter-input + label:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 1px;

  width: 19px;
  height: 19px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-input:checked + label:before {
  opacity: 0;
}

.filter-input:checked + label:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-on-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:disabled + label {
  opacity: 0.5;
}

.filter-input:disabled + label:before {
  opacity: 0.5;
}

.filter .filter-range {
  width: 318px;
}

.filter-column legend {
  padding-bottom: 10px;
}

.price-controls {
  position: relative;

  min-height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 30px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
  margin-left: 1px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  border-width: 9px;
  top: -10px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.results-button {
  display: block;

  margin: 0 auto;
  margin-left: 85px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 34px;
  padding-right: 34px;

  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.results-button:hover,
.results-button:focus {
  background-color: #ffffff;
  color: #000000;
}


.sorting-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 71px;
  padding-right: 73px;
}

.sorting-layout > b {
  width: 130px;
  margin-right: 34px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sorting-layout > span {
  width: 90px;
  margin-right: 25px;

  font-size: 12px;
  line-height: 18px;
}

.sorting-settings-1,
.sorting-settings-2 {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  list-style: none;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-settings-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 249px;
  margin-right: auto;
}

.sorting-settings-1 li {
  width: 81px;
}

.sorting-settings-1 li:last-of-type {
  width: 86px;
}

.current-sorting {
  color: #81b3d2;
}

.sorting-settings-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 36px;
}

.sorting-settings-2 li:first-child {
  margin-left: 2px;
  margin-right: 12px;
}

.sorting-sign:hover polygon,
.sorting-sign:focus polygon {
  fill: #231f20;
}

.sorting-sign:active polygon {
  fill: #81b3d2;
}

.current-sign polygon {
  fill: #81b3d2;
}

.sorting-button {
  color: rgba(0, 0, 0, 0.3);

  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #81b3d2;
          text-decoration-color: #81b3d2;
}

.sorting-button:hover,
.sorting-button:focus {
  color: #81b3d2;
}

.sorting-button:active {
  color: #000000;
  text-decoration: none;
}

.results-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 71px;
  padding-right: 73px;

  border-bottom: 1px solid #e5e5e5;
}

.result-item > a {
  width: 135px;
  margin-right: 30px;
}

.result-item:first-of-type {
  border-top: 1px solid #e5e5e5;
}

.item-description {
  flex-grow: 1;

  width: 270px;
  margin-top: -3px;
  margin-right: auto;
}

.hotel-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

.hotel-type span {
  width: 116px;
}

.item-name {
  margin: 0;
  padding-bottom: 10px;

  font-size: 21px;
  font-weight: bolder;
  line-height: 21px;
}

.item-name a {
  color: #000000;
}

.item-name a:hover,
.item-name a:focus {
  color: #81b3d2;
}

.item-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.buttons-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.more-button {
  width: 110px;
  margin-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;

  font-weight: bold;
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.more-button:hover,
.more-button:focus {
  background-color: #669ec0;
}

.more-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.book-button {
  width: 142px;
  padding-top: 3px;
  padding-bottom: 3px;

  font-weight: bold;
  color: #ffffff;
  text-align: center;

  background-color: #766357;
}

.book-button:hover,
.book-button:focus {
  background-color: #604e43;
}

.book-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.item-ratings > p {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 12px;

  color: #666666;

  background-color: #f2f2f2;
}

.star-rating {
  margin-bottom: 40px;
  margin-left: auto;
  width: 89px;
  height: 23px;

  background-color: #ffffff;
  background-image: url("../img/★.svg");
  background-repeat: space;
}

.star-rating-1 {
  width: 65px;
  margin-left: auto;
}

.star-rating-2 {
  width: 41px;
  margin-left: auto;
}

.catalog-content .main-footer {
  margin-top: 0;

  background-color: #fefefe;
}
